body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  outline: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

form{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size: 12px;
  overflow: hidden;
  color: #4d5271;
  padding: 8px 0;
  margin: 8px 0;
}

input{
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
}

/* button,.button{
  border: 0;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  height: 42px;
  background: #0288d1;
  font-size: 12px;
  color: white;
  margin-top: 20px;
} */







